@font-face {
    font-family: 'NexaFont';
    src: url('./fonts/NexaBold.otf') format('truetype');
  }
  
  *{
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #18191A;
    color: white;
    font-size: 10px;
  }
  a {
    text-decoration: none;
  }
#main-page-content-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
#main-page-content{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 82vh;
    width: 100%;
    max-width: 1920px;
}
#main-page-left{
    
    background: #242526;
    margin-left: 1em;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    padding: 1em;
    border-radius: 2px;
    font-family: 'NexaFont';
}
#left-widget-header{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
#main-page-middle{
    background-image: url('img/endless-constellation.svg');
    margin-right: 1em;
    height: 100%;
    width: 75%;
    border-radius: 2px;
    display: grid;
    padding: 2em;
    gap: 2em;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.games{
    height: 100%;
    border:0.2em solid #858687;
    border-radius: 5px;
    overflow: hidden;
}
#games-text-container{
    display: flex;
    justify-content: center;
    font-size: 10em;
    font-family: 'NexaFont';
    border: none;
}
#games-text{
    margin-left: 1rem;
}
.preview-img{
    height: 100%;
    width: 100%;
}
@media (max-width: 1000px){
    #main-page-left{
        display: none;
    }
    #main-page-middle{
      width: 100%;
      margin: 0 1vw;
    }
}
@media (orientation: portrait){
    #main-page-content{
        height: auto;
        padding-bottom: 8vh;
    }
    #main-page-left{
        display: none;
    }
    #main-page-middle{
      width: 98%;
      margin: 0 1vw;
      grid-template: 0.5fr 1fr 1fr 1fr / 1fr;
    }
    .games{
        aspect-ratio: 16 / 9;
        border:1px solid grey;
    }
    #games-text-container{
        aspect-ratio: 16 / 4;
        text-align: center;
        align-items: center;
        font-size: 9vw;
        height: auto;
    }
    #games-text{
        
    }
}